* {
  box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: black;

}

a {
  color: #e2e3ed;
  text-decoration: none;
}

img{
	width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-container {
  width: 100%;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'hero hero hero hero hero hero'
    'aside aside aside aside aside aside'
    'purposeg purposeg purposeg purposeg purposeg purposeg'
    'whoforg whoforg whoforg whoforg whoforg whoforg'
    'reviewsg reviewsg reviewsg reviewsg reviewsg reviewsg'
    'aboutg aboutg aboutg aboutg aboutg aboutg'
    'footer footer footer footer footer footer';
}

.purposeg{
  grid-template-columns: 1fr 1fr 1fr;
}
.purposeg {
  display: grid;
  grid-template-areas:
		'purpose purpose purpose'
		'left middle right';
}

.whoforg{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.whoforg {
  display: grid;
  grid-template-areas:
    'whofor whofor whofor whofor whofor whofor'
    '. . whoforlist whoforlist . . ';
}

.aboutg{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.aboutg {
  display: grid;
  grid-template-areas:
    '. about about aboutimg aboutimg .';
}

.hero {
  display: grid;
  grid-template-areas:
    'h1 h1 h1 h1 h1 h1'
		'h2 h2 h2 h2 h2 h2';
}

.aside{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.aside{
	display: grid;
	grid-template-areas:
	'a1 a1 a1 a2 a2 a2'
	'a1 a1 a1 a3 a3 a3';
}

.reviewsg{
  grid-template-columns: 1fr 1fr 1fr;
}
.reviewsg {
  display: grid;
  grid-template-areas:
		'review review review'
		'review1 review2 review3';
}


.header {
  grid-area: header;
  background-color: #a6a6a6;
  align-items: center;
  justify-content: center;
}

.header nav {
	width: 90%;
  font-size: 1.125em;
  font-weight: 500;
  text-transform: none;
  font-family: Lora;
  align-items: center;
  text-align: right;
}

.header nav ul {
  width: 100%;
  justify-content: space-around;
}

.header nav ul li {
  font-size: 1.125em;
  display: inline-block;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero{
  grid-area: hero;
  text-align: center;
	background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
	justify-content: center;
	align-content: center;
}

.hero h1 {
  font-size: 5.25em;
  font-family: 'Dancing Script', cursive;
;
	grid-area: h1;
}

.hero h2{
	grid-area: h2;
	font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.875em;
}

.aside{
  grid-area: aside;
  text-align: center;
	justify-content: center;
	align-content: center;
	min-height: 200px;
  justify-items: center;
}

.aside #a1{
	grid-area: a1;
	font-size: 1.50em;
  font-family: Lora;
	padding-top: 80px;
}

.aside #a2{
	grid-area: a2;
	font-size: 1.20em;
  font-family: Lora;
}

.aside #a3{
	grid-area: a3;
  padding-bottom: 40px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.2em;
}

input[type=submit] {
  width: 100%;
  background-color: lightpink;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.purposeg{
  grid-area: purposeg;
	text-align: center;
	background-image: url(img/purpose.jpg);
  background-size: cover;
  background-position: center;
	min-height: 500px;
	justify-content: center;
	align-items: top;
	Justify-items: center;
	padding-bottom: 100px;
	padding-top: 100px;
  width:100%
	}

.purpose{
  grid-area: purpose;
  font-size: 1.50em;
  font-family: Lora;
	padding-top: 20px;
}

 .fontawesome-icon{
	 font-size: 1.7em;
 }

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}

.left,
.middle,
.right {
	font-size: 1.5em;
	width: 90%;
	font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: rgb(255,255,255, 0.4);
  padding: 10px;
}

.whoforg{
  grid-area: whoforg;
  text-align: center;
	background-image: url(img/hero2.jpg);
  min-height: 500px;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  align-content: center;
  width: 100%;
}

.whofor{
  grid-area: whofor;
  text-align: center;
	font-size: 1.50em;
  font-family: Lora;
}

.whoforlist{
  grid-area: whoforlist;
  text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
	padding-bottom: 40px;
  background-color: rgb(249,170,180, 0.3);
}

#people{
	font-size: 4em;
  color: grey;
}

.reviewsg{
  grid-area: reviewsg;
	text-align: center;
	background-image: url(img/purpose.jpg);
  background-size: cover;
  background-position: center;
	min-height: 500px;
	justify-content: center;
	align-items: top;
	Justify-items: center;
	padding-bottom: 100px;
	padding-top: 60px;
  width: 100%;
	}

.review{
  grid-area: review;
  font-size: 1.50em;
  font-family: Lora;
	padding-top: 20px;
}

.review1 {
  grid-area: review1;
}

.review2 {
  grid-area: review2;
}

.review3 {
  grid-area: review3;
}

.review1,
.review2,
.review3 {
	font-size: 1em;
	width: 90%;
  font-family: 'Delius', cursive;
  background-color: rgb(255,255,255, 0.4);
  padding: 20px;
}

.aboutg{
  grid-area: aboutg;
  text-align: center;
	justify-items: center;
  align-items: center;
	align-content: center;
	justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.about{
  grid-area: about;
  text-align: center;
	width: 100%;
	font-family: 'Poppins', sans-serif;
  font-size: 1.4em;
}

.aboutimg{
  grid-area: aboutimg;
  text-align: center;

}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: #a6a6a6;
}

.footer p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.4em;
}

/* Mobile layout */
@media (max-width: 800px) {
  .grid-container  {
    grid-template-areas:
    'header header header header header header'
    'hero hero hero hero hero hero'
    'aside aside aside aside aside aside'
    'purposeg purposeg purposeg purposeg purposeg purposeg'
    'whoforg whoforg whoforg whoforg whoforg whoforg'
    'reviewsg reviewsg reviewsg reviewsg reviewsg reviewsg'
    'aboutg aboutg aboutg aboutg aboutg aboutg'
    'footer footer footer footer footer footer';
   }

  .purposeg {
  display: grid;
  grid-template-areas:
    'purpose purpose purpose purpose purpose purpose'
    'left left left left left left'
    'middle middle middle middle middle middle'
    'right right right right right right';
}


.whoforg {
  display: grid;
  grid-template-areas:
    'whofor whofor whofor whofor whofor whofor'
    '. whoforlist whoforlist whoforlist whoforlist .';
}

.reviewsg {
display: grid;
grid-template-areas:
  'review review review review review review'
  'review1 review1 review1 review1 review1 review1'
  'review2 review2 review2 review2 review2 review2'
  'review3 review3 review3 review3 review3 review3';
}

.aboutg {
  display: grid;
  grid-template-areas:
    'about about about about about about'
    'aboutimg aboutimg aboutimg aboutimg aboutimg aboutimg';
}

.hero {
  display: grid;
  grid-template-areas:
    'h1 h1 h1 h1 h1 h1'
		'h2 h2 h2 h2 h2 h2';
}

.aside{
	display: grid;
	grid-template-areas:
	'a1 a1 a1 a1 a1 a1 '
	'a2 a2 a2 a2 a2 a2'
	'a3 a3 a3 a3 a3 a3';
}

}
